<%- include ('layout/header') %>
<div class="container">
  <div class="row my-4">
    <div class="col-lg-12">
      <div class="table-responsive">
        <% if (users != '') { %>
        <table class="table table-striped text-center my-3">
          <thead>
            <tr class="table-dark">
              <th>ID</th>
              <th>Name</th>
              <th>E-Mail</th>
              <th>Phone</th>
              <th>Birthdate</th>
              <th>Gender</th>
              <th>City</th>
              <th>Bio</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach((row,index) => { %>
            <tr class="align-middle">
              <td><%= index %></td>
              <td><%= row.name %></td>
              <td><%= row.email %></td>
              <td><%= row.phone %></td>
              <td><%= row.birthdate %></td>
              <td><%= row.gender %></td>
              <td><%= row.city %></td>
              <td><%= row.bio %></td>
              <td>
                <a href="/edit/<%= row._id  %>" class="text-succes"
                  ><i class="fas fa-edit fa-lg mx1"></i
                ></a>
                <a href="/delete/<%= row._id  %>" class="text-danger"
                  ><i class="fas fa-trash fa-lg mx1"></i
                ></a>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <% } else { %>
        <h1 class="text-center text-secondary mt-5">
          No users found in the database!
        </h1>
        <% } %>
      </div>
    </div>
  </div>
</div>
<%- include ('layout/footer') %>
